<h2>Template</h2>
<hr>
<ul class="list-group">
  <li *ngFor="let item of templateMenu"
      class="list-group-item"
      [routerLink]="[ item.url ]"
      routerLinkActive="active">{{ item.texto }}</li>
</ul>
<br class="my-5">

<h2>Reactive</h2>
<hr>
<ul class="list-group">
  <li *ngFor="let item of reactiveMenu"
      class="list-group-item"
      [routerLink]="[ item.url ]"
      routerLinkActive="active">{{ item.texto }}</li>
</ul>
<br class="my-5">

<h2>Validaciones</h2>
<hr>
<ul class="list-group">
  <li *ngFor="let item of authMenu"
      class="list-group-item"
      [routerLink]="[ item.url ]"
      routerLinkActive="active">{{ item.texto }}</li>
</ul>

<br class="my-5">

<h2>Paises</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item"
      [routerLink]="[ 'paises/selector' ]"
      routerLinkActive="active"> Selector paises </li>
</ul>
