<h2>Template: Formulario Básico</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- #miFormularioBasico="ngForm" es una referencia hacia nuestro formulario, que nos permite conocer su estado.
      la cual está asociada con un formularios de Angular basados en template (ngForm)

    Un formulario basado en template, la mayor parte de su configuración se hace del lado del html-->
    <form (ngSubmit)="guardar()"
      #miFormularioBasico="ngForm"
      autocomplete="off">
      <!-- Campo producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="producto">Producto</label>
        <div class="col-sm-9">
          <!-- ngModel: especifica que este campo formará parte de este formulario basado en Template
          name: su valor será considerado como la propiedad del modelo asociado a este campo -->
          <input type="text" class="form-control" name="producto" id="producto" ngModel placeholder="Nombre del producto" minlength="3">
          <!-- Los mensajes de validación se deberían mostrar una vez que se detecte que el valor es inválido y que se haya tacado el formulario -->
          <span class="form-text text-danger" *ngIf="productoValido()">Debe ser de al menos 3 caracteres</span>
        </div>
      </div>
      <!-- Campo precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="precio">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" name="precio" id="precio" ngModel placeholder="Precio del producto" required min="10">
          <!-- Controlar dos validaciones. Requerido y cantidad mínima -->
          <span class="form-text text-danger" *ngIf="precioInvalido()">El precio debe ser de al menos $10 pesos</span>
          <span class="form-text text-danger" *ngIf="precioRequerido()">El precio es un dato requerido</span>
        </div>
      </div>
      <!-- Campo existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="existencias">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" name="existencias" id="existencias" ngModel placeholder="Existencias del producto">
        </div>
      </div>
      <!-- Botón de enviar -->
      <div class="row mt-4">
        <div class="col">
          <!-- Habilitar el botón de envio solamente si el formulario es válido -->
          <button type="submit" class="btn btn-primary float-end" [disabled]="miFormularioBasico.invalid">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Valido: {{ miFormularioBasico.valid }}</p>
    <span></span>

    <p>Valores</p>
    <pre>{{ miFormularioBasico.value | json }}</pre>

    <p>Pristine (no se ha manipulado sus valores)</p>
    <pre>{{ miFormularioBasico.pristine | json }}</pre>

    <p>Touched (Ya se hizo clic en alguno de sus campos)</p>
    <pre>{{ miFormularioBasico.touched | json }}</pre>
  </div>
</div>
