<h2>Selectores Anidados</h2>
<hr class="mb-5">

<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
  <!-- Continente -->
  <div class="row mb-4">
    <div class="col">
      <label for="continente" class="form-label">Continente</label>
      <select id="continente" class="form-control" formControlName="region">
        <option value="" selected disabled>-- Seleccione Continente --</option>
        <option *ngFor="let region of regiones" [value]="region | lowercase" >{{ region }}</option>
      </select>
    </div>
  </div>
  <!-- País -->
  <div class="row mb-4" *ngIf="paises?.length">
    <div class="col">
      <label for="continente" class="form-label">País</label>
      <select id="continente" class="form-control" formControlName="pais">
        <option value="" selected disabled>-- Seleccione un país --</option>
        <option *ngFor="let pais of paises" [value]="pais.alpha3Code">{{ pais.name }}</option>
      </select>
    </div>
  </div>
  <!-- Frontera -->
  <div class="row mb-4" *ngIf="fronteras?.length">
    <div class="col">
      <label for="continente" class="form-label">Frontera</label>
      <select id="continente" class="form-control" formControlName="fronteras">
        <option value="" selected disabled>-- Seleccione el país fronterizo --</option>
        <option *ngFor="let frontera of fronteras" [value]="frontera">{{ frontera }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">Seleccionar</button>
    </div>
  </div>
</form>

<!-- Indicador de carga -->
<div class="row my-3" *ngIf="loading">
  <div class="alert alert-primary">Cargando...</div>
</div>

<h4 class="my-5">Estado del Formulario</h4>
<pre>Válido: {{ miFormulario.valid }}</pre>
<pre>{{ miFormulario.value | json }}</pre>
