<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="registrar()" [formGroup]="miFormulario" autocomplete="off">
      <!-- Nombre -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de usuario">
          <span class="form-text text-danger" *ngIf="campoEsInvalido('nombre')">Debe ser en formato de nombre y apellido</span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" formControlName="email" placeholder="Correo electrónico">
          <span class="form-text text-danger" *ngIf="campoEsInvalido('email')">El correo electrónico es un dato requerido</span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="username" placeholder="Username del usuario">
          <span class="form-text text-danger" *ngIf="campoEsInvalido('username')">El username no puede ser <strong>root</strong></span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="password" placeholder="Contraseña de acceso">
          <span class="form-text text-danger" *ngIf="campoEsInvalido('password')">El contraseña es un dato requerido</span>
        </div>
      </div>

      <!-- Password Confirmation -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Confirmar contraseña de acceso">
          <span class="form-text text-danger" *ngIf="campoEsInvalido('password_confirmation')">El confirmación de contraseña es incorrecta</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <!-- Podemos deshabilitar el botón de envío mientras el estado de formularo este pendiente de validación

            Esto es importante ya que podemos tener validaciones asincronas donde el server tarde en responder
            Un formulario puede tener 3 estados: VÁLIDO, INVÁLIDO, PENDIENTE DE VALIDACIÓN

          Ya que nos interesa enviar el posteo aunque la data este incorrecta para que nos muestre todos los mensajes de validación
        en aquellos campos que tienen información invalida -->
          <button class="btn btn-primary float-end" [disabled]="miFormulario.pending" type="submit">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- El estado de formulario puede estar en: valido, inválido, pendiente de validación -->
<h5>Estado del Formulario: {{ miFormulario.status }}</h5>
<p>Formularo pendiente de validación?: <mark>{{ miFormulario.pending }}</mark></p>
<h5>Formulario válido: {{ miFormulario.valid }}</h5>
<h5>Formulario errors</h5>
<!-- También es posible definir errores a nivel global de formulario, por lo general es a nivel de control -->
<pre>{{ miFormulario.errors | json }}</pre>
<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>
<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>
<h5>Username</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>
<h5>Password</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>
<h5>Password Confirmation</h5>
<pre>{{ miFormulario.controls.password_confirmation.errors | json }}</pre>
