<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off">
      <!-- Nombre -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre de usuario">
          <span class="form-text text-danger">Debe ser en formato de nombre y apellido</span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Correo electrónico">
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Username del usuario">
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Contraseña de acceso">
        </div>
      </div>

      <!-- Password Confirmation -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Confirmar contraseña de acceso">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary float-end" type="submit">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
