<h2>Template: <small>Dinámicos</small></h2>
<hr>
<form  #miFormulario="ngForm" autocomplete="off">
  <!-- Nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="nombre" [(ngModel)]="persona.nombre" placeholder="Nombre de la persona" required>
      <span class="form-text text-danger" *ngIf="miFormulario.controls?.nombre?.errors?.required">Este campo es obligatorio</span>
    </div>
  </div>
  <!-- Agregar -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="nuevo_juego" [(ngModel)]="nuevo_juego" placeholder="Agregar favorito"(keyup.enter)="agregarJuego()">
        <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()">Agregar</button>
      </div>
    </div>
  </div>
  <!-- Lista de Juegos Favoritos -->
  <div class="row mb-3" *ngIf="persona.favoritos.length">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div *ngFor="let juego of persona.favoritos; let i = index" class="input-group mb-3">
        <!-- En formularios dinámicos, es importante que todos los controles tengan un name diferente -->
        <input type="text" [(ngModel)]="juego.nombre" name="favorito_{{ i }}" required class="form-control">
        <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">Eliminar</button>
      </div>

    </div>
  </div>
  <!-- Botón enviar -->
  <div class="row">
    <div class="col-sm-12">
      <!-- Usar submit hace que el formulario se envie tambien cuando sucede el evento keyup.enter
      lo que genera conflicto con controles que esten escuchando exclusivamente ese evento. -->
      <button class="btn btn-primary float-end" type="button" (click)="guardar()" [disabled]="miFormulario.invalid">Guardar</button>
    </div>
  </div>
</form>
<pre>{{ persona | json}}</pre>
