<h2>Reactive: <span>Switches</span></h2>
<hr>
<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
  <!-- Radio - Género -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <!-- NOTA IMPORTANTE:
        El atributo name causa error al trabajar con formularios reactivos -->
        <input class="form-check-input" type="radio" value="M" formControlName="genero" id="rdoMasculino">
        <label class="form-check-label" for="rdoMasculino">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="F" formControlName="genero" id="rdoFemenino">
        <label class="form-check-label" for="rdoFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>
  <!-- Switch - Notificaciones -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input class="form-check-input" type="checkbox" role="switch" formControlName="notificaciones" id="notificaciones">
        <label class="form-check-label" for="notificaciones">Quiero recibir notifiaciones</label>
      </div>
    </div>
  </div>
  <!-- Radio - Términos y condiciones -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="condiciones" id="terms">
        <label class="form-check-label" for="terms">
          Acepto los términos y condiciones
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end" type="submit">Guardar</button>
    </div>
  </div>
</form>

<h5>Valor del Formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>
<h5>Persona</h5>
<pre>{{ persona | json }}</pre>
<br>
<h5>Válido</h5>
<pre>{{ miFormulario.valid }}</pre>
<br>
<h5>Términos</h5>
<pre>{{ miFormulario.controls?.terminos?.errors | json }}</pre>
<br>
<h5>Condiciones: </h5>

